<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
    <title>Mock - Proyectos</title>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-primary" >
    <div class="container-fluid" style="margin-left: 8%">

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <a class="navbar-brand" th:text="MockeClone" th:href="@{/Mock/}">MockeClone</a>

        <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
            <div style="display: flex;justify-content: flex-end; ">
                <ul class="navbar-nav mb-2 mb-lg-0  ">
                    <li class="nav-item">
                        <a class="nav-link active" th:text="#{header1}" th:href="@{proyectos}">Proyectos</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" th:text="#{header2}" th:href="@{usuarios}">Usuarios</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" th:text="#{header3}" th:href="@{login}">Iniciar Sesion</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</nav>
<div class="container-fluid">
    <div  style="width: 80%">
        <form method="post" th:action="${action}">
            <div class="mb-3">
                <label for="nombre" class="form-label" th:text="#{user1}">Nombre</label>
                <input type="text" class="form-control" id="nombre" name="nombre" th:value ="${user != null} ? ${user.nombre} : ''">
            </div>
            <div class="mb-3">
                <label for="pass" class="form-label" th:text="#{user2}">Contraseña</label>
                <input type="password" class="form-control" id="pass" name="pass" th:value ="${user != null} ? ${user.getPassword()} : ''">
            </div>
            <div class="mb-3">
                <label for="permisos" class="form-label" th:text="#{user3}">Permisos</label>
                <select  class="form-control" id="permisos" name="permisos">
                    <option value=""></option>
                    <option value="ROLE_USER">Usuario</option>
                    <option value="ROLE_ADMIN">Admin</option>

                </select>
            </div>
            <div class="btn-toolbar" role="toolbar">
                <div class="btn-group me-2" role="group">
                    <button type="submit"  class="btn btn-primary" th:text="#{aceptar}">Aceptar</button>
                </div>
                <div class="btn-group me-2" role="group">
                    <a th:href="@{/Mock/}" class="btn btn-danger" th:text="#{cancelar}">Cancelar</a>
                </div>
            </div>
        </form>
    </div>
</div >
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
</body>
</html>